*{
    box-sizing: border-box;
}
.header-top{
    background: #272f54;
    text-align: center;
    margin-bottom: 5px;
}
.menu{
    background: #272f54;
}
.banner{
    margin-bottom: 20px;
    margin-top: 10px;
}
.menu nav a{
    color: white;
}
.menu .collapse form button{
    color: white;
}
.row{
    border: 1px solid #000;
    margin: auto;
}
.row .col-6 img{
    width: 500px;
    height: 300px;
    padding: 10px;
}
.row .col-6 .text{
    padding: 10px;
}
.row .col-6 .text h2{
    color: red;
}
.card-deck{
    margin-top: 20px;
}
.card{
    border: 1px solid #000;
}
.card img{
    padding: 30px;
}
.card .card-body{
    padding: 30px;
}
.card-body h5{
    color: red;
}
footer{
    background: #272f54;
    text-align: center;
    height: 40px;
    margin-top: 20px;
}
footer span{
    color: white;
}